#!/bin/sh

# Sourced on startup of X
# Should contain X application-specific env variables


export BROWSER=firefox

type xbindkeys > /dev/null && xbindkeys
    # Custom keyboard binding (see ~/.xbindkeysrc)

